<div class="page-header">
  <%= link_to external_collection_entries_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @external_collection_entry, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing external_collection_entry</h1>
</div>

<%= render 'form' %>
